.itembox{
    width: 100%;
    height: 20%;
    float: left;
    border-bottom: 1px rgba(0, 0, 0, 0.096) solid;    
    /* border: 1px black solid; */
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.014), 0 4px 4px 0 rgba(0, 0, 0, 0.19); */

    padding: 20px;    

}

.product_pic{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px black solid; */
    margin-right: 100px;
    margin-left: 100px;
    /* background-image: url("../../Photos/thyme.jpg"); */
    background-size: cover;
    border-radius: 10px;


}


.product_qty{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px black solid; */
    margin-right: 100px;
    text-align: center;
    padding-top: 40px;
    font-size: 15px;
}

.product_price{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px black solid; */
    margin-right: 100px;
    text-align: center;
    padding-top: 40px;
    font-size: 15px;
}

.product_total{
    float: left;
    width: 100px;
    height: 100px;
    /* border: 1px black solid; */
    text-align: center;
    padding-top: 40px;
    font-size: 15px;
}

#plus{
    margin-left: 10px;
    background-color: transparent;
    border: black 2px solid;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5px;
    min-width: 25px;
    min-height: 25px;
    cursor: pointer;
    text-align: center;
}

#minus{
    margin-right: 10px;
    background-color: transparent;
    border: black 2px solid;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border-radius: 5px;
    min-width: 25px;
    min-height: 25px;
    cursor: pointer;
    text-align: center;

}