body{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
ul{
    float: left;
}
.inner_li{
    float: left;
}
.INNER_LIST{
    padding: 100px 0px 0px 150px;
    font-size: 25px;
}
.INNER_LIST li{
    padding: 13px;
    color: rgba(3, 3, 3, 0.726);
}
.INNER_LIST h3{
    color: black;
}