body{
  margin: 0;
  padding: 0;
  zoom: 75%;
}
*{
  margin: 0;
  padding: 0;
}
.Block{
  background-color:  rgb(21, 49, 33);
  width: 100%;
  height: 750px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 2px solid black;
  
}
.Block img {
  height: 66%;
  overflow: hidden;
  margin-left: 30%;
  margin-top: 90px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
.Carousel{
  width: 100%;
}
.second_level{
  background: rgb(245, 246, 255);
  height: 1350px;
  float: left;
  width: 100%;
}
.UPPER{
  margin: 0;
  padding: 0;
}
.input_block{
  position: absolute;
  background-color: white; 
  height: 650px;
  width: 600px;
  padding: 30px;
  padding-top: 70px;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}
#enter_your{
  font-size: 40px;
  padding-left: 30%;
  padding-top: 60px;
  font-size: 55px;
} 
.third_level{
  float: left;
  width: 100%;
  margin-top: 70px;
  
}
.outer{
    background: rgb(54, 223, 68);
    position: relative; 
    height: 750px;
    width: 700px;
    margin: 90px 0 50px 29%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);;
}
#logo1, #logo2{
  float: left;
  width: 660px;
  height:446px;
  margin: 100px 0 0 280px;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);;

}
#logo2{
  margin: 100px 0 0 250px;
}
.Text1{
  padding: 30px;
  text-align: left;
  font-size: 20px;
  float: left;
  width: 900px;
  height: 406px;;
  margin: 100px 0 0 250px;
  padding-top: 0;
}
.btn1{
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 15px 0px 15px;
  margin-top: 30px;
  float: left;
}
.btn1:hover{
  background: rgba(190, 216, 200, 0.19);
  cursor: pointer;
}
.twoBlock{
  margin-top: 650px;
}
.FOOTER{
  float: left;
  background-color: rgb(135, 168, 142);
  height: 600px;
  width: 100%;
  margin-top: 200px;
}